{
	"$schema": "https://json.schemastore.org/swcrc",
	"jsc": {
		"baseUrl": "./src",
		"paths": {
			"@Config/*": [
				"config/*"
			],
			"@Application/*": [
				"application/*"
			],
			"@Domain/*": [
				"domain/*"
			],
			"@Infrastructure/*": [
				"infrastructure/*"
			],
			"@Shared/*": [
				"shared/*"
			],
			"@Presentation/*": [
				"presentation/*"
			]
		},
		"parser": {
			"syntax": "typescript",
			"decorators": true,
			"dynamicImport": true,
			"tsx": false
		},
		"target": "es2022"
	},
	"module": {
		"type": "commonjs"
	}
}